*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-color: #efb0fa;
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: rgb(244, 210, 247);
    position: absolute;
    border: 5px solid rgb(84, 8, 96);
    border-radius: 6px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid rgb(167, 28, 189);
    display: flex;
    margin: auto;
    border-radius: 6px;
    color: rgb(33, 32, 33);
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #dc62fb;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: rgb(233, 193, 230);
    color: white;
 }
 .h h1{
   margin-bottom: 558px;

 }